*,
::before,
::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@font-face {
	font-family: Benton-Light;
	src: url("./fonts/BentonSans-Light.ttf");
}

@font-face {
	font-family: Benton-Regular;
	src: url("./fonts/BentonSans-Regular.ttf");
}

@font-face {
	font-family: Benton-Medium;
	src: url("./fonts/BentonSans-Medium.ttf");
}

@font-face {
	font-family: Benton-Bold;
	src: url("./fonts/BentonSans-Bold.ttf");
}

html {
	-webkit-text-size-adjust: var(--full);
	scroll-behavior: smooth;
	font-family: Averta;
	height: -webkit-fill-available;
	background-color: #e5e5e5;
	margin: 0px;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	width: 100%;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	/* color: #292e32; */
	max-width: 1440px;
	min-width: 200px;
	margin: 0px auto;
	/* display: flex;
	flex-direction: column; */
}

html._fixed,
body._fixed {
	touch-action: none;
	-webkit-overflow-scrolling: none;
	overflow: hidden;
	overscroll-behavior: none;
}

ul,
li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

button {
	outline: none;
	font: inherit;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	border: 0;
	padding: 0px;
}

button:disabled {
	color: #fff;
	background: #e4e6eb;
	cursor: not-allowed;
}

.button-xl {
	width: 100%;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	max-width: 480px;
}

.button-large {
	width: 375px;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	max-width: 100%;
}

.button-medium {
	width: 322px;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	max-width: 100%;
}

.button-small {
	width: 196px;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
}

.button-round {
	border-radius: 20px;
	width: 100px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-primary {
	background-color: #0069c4;
	color: #fff;
	font-family: Benton-Medium;
}

.button-secondary {
	background-color: #f5faff;
	color: #0069c4;
	font-family: Benton-Medium;
}

.button-transparent {
	background-color: #fff;
	border: 1px solid #292e32;
	color: #292e32;
	font-family: Benton-Regular;
}

.button-secondary-transparent {
	background-color: #f5faff;
	color: #0069c4;
	font-family: Benton-Medium;
	border: 2px solid #0069c4;
}

a {
	outline: none;
	font-family: inherit;
	white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.3;
	margin: 0;
}

p {
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
}

img {
	object-fit: cover;
}

label {
	display: block;
	margin-bottom: 7px;
}

input,
select,
textarea {
	-webkit-appearance: none;
	appearance: none;
	font-size: 1rem;
	outline: none;
	color: inherit;
	width: 100%;
	font-family: Benton-Regular;
	border-radius: 8px;
}

input:disabled,
select:disabled,
textarea:disabled {
	background-color: rgba(193, 199, 205, 0.2);
}

input[type="checkbox"] {
	-webkit-appearance: checkbox;
	appearance: checkbox;
	/* width: initial !important;
	height: initial !important; */
	/* margin-bottom: 0 !important; */
	padding: 0 !important;
}

input[type="radio"] {
	-webkit-appearance: radio;
	appearance: radio;
}

textarea {
	padding: 16px 20px;
	resize: none;
	height: 185px;
	border: 1px solid #e4e6eb;
	border-radius: 6px;
}

/* textarea:focus,
input:focus,
select:focus {
	border: 1px solid #0069c4;
} */

select {
	cursor: pointer;
	background-color: transparent;
	text-overflow: ellipsis;
}

/* select option {
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
} */

.select-wrapper {
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
}

.select-wrapper > select {
	border-radius: 0px;
}

.select-wrapper.language {
	border: 2px solid #f9fafa;
	border-radius: 4px;
	max-width: 115px;
}

.select-wrapper.language > select {
	font-family: Benton-Medium;
	height: 48px;
	color: #fff;
	padding-left: 12px;
}

.select-wrapper::after {
	content: "";
	height: 8px;
	width: 10px;
	background: url("./images/chevron_down_big.svg") no-repeat center;
	background-size: cover;
	display: block;
	position: absolute;
	right: 7px;
	pointer-events: none;
	flex-shrink: 0;
	top: 50%;
	transform: translateY(-50%);
}

.select-wrapper.language::after {
	right: 12px;
	height: 7px;
	width: 15px;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.wrapper.full {
	width: 100%;
}

main,
header,
footer {
	width: 100%;
	background: #f5faff;
}

.hide-vertical-scrollbar {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.hide-vertical-scrollbar::-webkit-scrollbar {
	display: none;
}

/* login styling begins */
.login {
	height: 100vh;
	display: flex;
}

.login-left {
	flex: 1;
	height: 100vh;
	padding: 48px 64px 125px;
	display: flex;
	flex-direction: column;
}

.login-two .login-left {
	background-image: url("./images/login_background.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.login-logo-container {
	margin-bottom: 35px;
}

.login-logo-container > img,
.register-logo > img {
	width: 86px;
	height: 91px;
}

.login-left-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
}

.login-two .login-left-wrapper {
	flex-direction: column;
}

.login-left-desc {
	margin-right: 24px;
	flex: 1;
}

.login-two .login-left-desc {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
}

.login-left-desc > h1 {
	font-size: 48px;
	font-family: Benton-Bold;
	line-height: 57.6px;
	width: 450px;
	max-width: 100%;
	color: #001324;
}

.login-left-desc > h1 > span {
	color: #0069c4;
}

.login-two .login-left-desc > h1 {
	color: #fff;
	width: 690px;
	max-width: 100%;
	text-align: center;
}

.login-left-download {
	display: flex;
	margin-top: 125px;
}

.download-app-btn {
	width: 169px;
	height: 57px;
	background-color: transparent;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
}

.download-app-btn:first-of-type {
	margin-right: 20px;
}

.login-two .login-left-download {
	margin-top: 32px;
}

.download-app-btn > img {
	width: 100%;
	height: 100%;
}

.login-left-image {
	width: 313px;
	height: 519px;
}

.login-left-image > img {
	width: 100%;
	height: 100%;
}

.login-right {
	background-color: #0069c4;
	width: 548px;
	height: 100vh;
	padding: 48px 64px 125px;
	display: flex;
	flex-direction: column;
}

.login-two .login-right {
	background-color: #f5faff;
}

.login-two .select-wrapper.language {
	border: 1px solid #c1c7cd;
	border-radius: 4px;
	max-width: 115px;
}

.login-two .select-wrapper.language::after {
	background: url("./images/chevron_down_blue.svg") no-repeat center;
	background-size: cover;
}

.login-two .select-wrapper.language > select {
	font-family: Benton-Medium;
	height: 48px;
	color: #0069c4;
	padding-left: 12px;
	border: none;
}

.login-right > .login-logo-container {
	display: flex;
	justify-content: flex-end;
}

.login-right-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
}

.login-right-form > h2 {
	text-align: center;
	font-family: Benton-Medium;
	color: #fff;
	font-size: 32px;
	margin-bottom: 60px;
}

.login-two .login-right-form > h2 {
	color: #001324;
}

.login-input-wrapper {
	border: 2px solid #c1c7cd;
	width: 100%;
	height: 80px;
	border-radius: 8px;
	padding: 14px 16px;
	position: relative;
}

.login-input-wrapper.disabled {
	background-color: rgba(193, 199, 205, 0.2);
}

.login-password-wrapper::after {
	content: "";
	height: 16px;
	width: 19px;
	background: url("./images/password_eye.svg") no-repeat center;
	background-size: cover;
	display: block;
	position: absolute;
	right: 16px;
	flex-shrink: 0;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.login-two .login-password-wrapper::after {
	background: url("./images/password_eye_black.svg") no-repeat center;
	background-size: cover;
}

.login-password-wrapper:last-of-type {
	margin-top: 25px;
}

.login-input-wrapper > label {
	font-family: Benton-Regular;
	color: #fff;
	margin-bottom: 10px;
	font-size: 14px;
}

.login-input-wrapper > input {
	border-radius: 0px;
	background-color: transparent;
	border: none;
	font-size: 18px;
	color: #fff;
}

.login-two .login-input-wrapper > label,
.login-two .login-input-wrapper > input {
	color: #292e32;
}

.login-input-wrapper > input:focus {
	border: none;
}

.login-forgot-password {
	color: #fff;
	margin-top: 16px;
	align-self: flex-start;
	font-family: Benton-Regular;
	font-size: 14px;
}

.login-forgot-password > a {
	color: #fff;
	font-family: Benton-Medium;
}

.login-two .login-forgot-password {
	color: #001324;
}

.login-two .login-forgot-password > a {
	color: #0069c4;
}

.login-right-form > .button-large {
	width: 100%;
	margin-top: 48px;
	font-family: Benton-Medium;
	font-size: 18px;
}

.login-two .login-right-form > .button-secondary {
	background-color: #0069c4;
	color: #fff;
}

.login-register-text {
	color: #fff;
	margin-top: 32px;
	font-family: Benton-Regular;
	font-size: 14px;
	margin-bottom: 16px;
}

.login-register-text > a {
	color: #fff;
	font-family: Benton-Medium;
}

.login-two .login-register-text {
	color: #001324;
}

.login-two .login-register-text > a {
	color: #0069c4;
}

.login-right-footer {
	margin-top: auto;
	display: flex;
	justify-content: center;
}

.login-right-footer > p {
	border-right: 2px solid #fff;
	padding: 0px 22px;
}

.login-right-footer > p:last-of-type,
.login-two .login-right-footer > p:last-of-type {
	border: 0px;
	padding-right: 0px;
}

.login-right-footer > p > a {
	color: #fff;
	font-size: 14px;
	font-family: Benton-Regular;
}

.login-two .login-right-footer > p {
	border-right: 2px solid #001324;
}

.login-two .login-right-footer > p > a {
	color: #001324;
}

/* media queries */
@media (max-width: 1366px) {
	.login-left,
	.login-right {
		padding: 20px;
	}
}

@media (max-width: 1170px) {
	.login {
		flex-direction: column;
		align-items: center;
	}

	.login-left {
		height: auto;
		width: 100%;
		display: none;
	}

	.login-right {
		width: 100%;
		padding: 48px 20px;
	}

	.login-right-form {
		max-width: 700px;
		width: 100%;
		margin: auto;
		/* justify-content: flex-start; */
	}
}

@media (max-width: 700px) {
	.login-right-footer {
		display: block;
		margin-top: 20px;
	}

	.login-right-footer > p,
	.login-two .login-right-footer > p {
		border: none;
		padding: 0px;
		text-align: center;
		margin-bottom: 10px;
	}

	.login-right-footer > p:last-of-type,
	.login-two .login-right-footer > p:last-of-type {
		margin-bottom: 0px;
	}

	.login-right-form {
		margin-top: 60px;
	}
}
/* login styling ends */

/* register styling begins */
.register-header {
	display: flex;
	justify-content: space-between;
	padding: 48px 64px;
	align-items: center;
}

.register-header-nav {
	display: flex;
}

.register-header-link {
	border-right: 2px solid #001324;
	padding: 0px 19px;
}

.register-header-link:last-of-type {
	border: none;
	padding-right: 0px;
}

.register-header-link > a {
	color: #001324;
	font-family: Benton-Regular;
	font-size: 14px;
}

.register {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 64px;
	min-height: 100vh;
}

.register-heading-text {
	font-size: 32px;
	color: #001324;
	font-family: Benton-Medium;
	text-align: center;
}

.register-stepper {
	margin-top: 32px;
	display: flex;
}

.register-stepper-item {
	position: relative;
	display: flex;
	align-items: center;
}

.register-stepper-item.active > span,
.register-stepper-item.checked > span {
	background-color: #0069c4;
	color: #fff;
	border: none;
}

.register-stepper-item.disabled > span {
	opacity: 0.3;
	color: #fff;
	background-color: #0069c4;
}

.register-stepper-item > span {
	position: relative;
	z-index: 2;
	color: #001324;
	font-family: Benton-Medium;
	text-align: center;
	font-size: 17px;
	background-color: transparent;
	border: 1px solid #c1c7cd;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.register-stepper-item::after {
	content: "";
	width: 100px;
	height: 1px;
	background-color: #c1c7cd;
	flex-shrink: 0;
}

.register-stepper-item.preferred-act-stepper::after {
	width: 65px;
}

.register-stepper-item.disabled::after {
	opacity: 0.2;
	width: 65px;
}

.register-stepper-item:last-of-type::after {
	display: none;
}

.register-form {
	margin-top: 64px;
	width: 100%;
	max-width: 495px;
}

.register-form.ud-new-beneficiary-form {
	max-width: 100%;
}

.register-upload {
	margin-top: 40px;
	max-width: 750px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.register-form > .personal-info-form-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
	margin-bottom: 24px;
}

.register-form .login-input-wrapper > label {
	color: #292e32;
}

.register-form .login-input-wrapper > input,
.register-form .login-input-wrapper > select {
	color: #001324;
}

.register-form .login-input-wrapper > input {
	font-size: 18px;
}

.login-input-wrapper.disabled > label,
.login-input-wrapper.disabled > input {
	color: #89959f;
}

.register-form .login-input-wrapper:last-of-type {
	margin-top: 25px;
}

.register-form > .personal-info-form-grid .login-input-wrapper:last-of-type {
	margin: 0px;
}

.register-form .login-password-wrapper::after {
	background-image: url("./images/password_eye_black.svg");
	background-size: cover;
	background-repeat: no-repeat;
}

.register-form select {
	border: 0px;
	font-size: 18px;
}

.register-form .login-input-wrapper {
	position: relative;
}

.register-form .login-input-wrapper.mb-24 {
	margin-bottom: 24px;
}

.register-form .login-input-wrapper.select::after {
	content: "";
	background-image: url("./images/chevron_down_big_black.svg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 18px;
	height: 9px;
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
}

.register-form .login-input-wrapper.date-picker::after {
	content: "";
	background-image: url("./images/calendar_icon.svg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 19px;
	height: 21px;
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
}

.register-form .login-input-wrapper.scheduled-date-picker::after {
	content: "";
	background-image: url("./images/scheduled_calendar.svg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 19px;
	height: 21px;
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
}

.register-form > button {
	margin-top: 48px;
}

.register-form > button.mt-21 {
	margin-top: 21px;
}

.register-extra-info {
	margin-top: 16px;
	font-size: 14px;
	font-family: Benton-Regular;
	line-height: 21px;
	text-align: center;
	color: #292e32;
}

.register-extra-info > a {
	color: #0069c4;
}

.request-otp-text {
	margin-top: 16px;
	font-size: 14px;
	font-family: Benton-Regular;
	color: #292e32;
}

.request-otp-text > a {
	color: #0069c4;
}

.register-password-guide {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 16px;
	margin-top: 16px;
}

.register-password-guide > p {
	font-family: Benton-Regular;
	font-size: 14px;
	color: #58636c;
}

.line-through {
	text-decoration: line-through;
}

.register-guide {
	width: 100%;
	max-width: 479px;
	margin: 40px auto 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.register-guide-lead-text {
	font-family: Benton-Regular;
	color: #292e32;
	line-height: 21px;
	font-size: 14px;
	text-align: center;
}

.register-guide-lead-list {
	margin: 34px auto 62px;
}

.register-guide-lead-list > li {
	font-family: Benton-Regular;
	color: #292e32;
	max-width: 350px;
	margin-bottom: 14px;
	display: flex;
	line-height: 21px;
}

.register-guide-lead-list > li:last-of-type {
	margin-bottom: 0px;
}

.register-guide-lead-list > li::before {
	content: "";
	background-image: url("./images/checked_orange.svg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 20px;
	height: 20px;
	flex-shrink: 0;
	margin-right: 20px;
}

.register-guide > button:last-of-type {
	margin-top: 24px;
}

.preferred-account-grid {
	margin-top: 64px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(257px, 20%));
	gap: 16px;
	width: 100%;
	justify-content: center;
}

.preferred-account-card {
	border: 1px solid #c1c7cd;
	border-radius: 4px;
	padding: 41px 16px;
	cursor: pointer;
}

.preferred-account-card > h3 {
	color: #001324;
	font-family: Benton-Bold;
	font-size: 24px;
}

.preferred-account-card > p {
	color: #292e32;
	font-family: Benton-Regular;
	font-size: 16px;
	margin-top: 16px;
	max-width: 225px;
}

.personal-info-previous-button {
	margin-top: 36px;
	display: flex;
	justify-content: center;
}

.personal-info-previous-button > a {
	display: flex;
	align-items: center;
	font-size: 16px;
	color: #0069c4;
	font-family: Benton-Medium;
}

.personal-info-previous-button > a > img {
	margin-right: 11px;
}

.register-success-wrapper {
	max-width: 526px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.register-success-image {
	width: 208px;
	height: 208px;
}

.register-success-image > img {
	width: 100%;
	height: 100%;
}

.register-success-heading {
	font-size: 32px;
	text-align: center;
	color: #0069c4;
	font-family: Benton-Medium;
	margin-top: 40px;
}

.register-success-text {
	color: #292e32;
	font-family: Benton-Regular;
	font-size: 14px;
	line-height: 21px;
	margin-top: 16px;
	text-align: center;
	max-width: 526px;
}

.register-success-wrapper > button {
	max-width: 480px;
	margin-top: 32px;
}

.register-upload-text {
	color: #292e32;
	font-size: 14px;
	font-family: Benton-Regular;
	line-height: 21px;
	text-align: center;
	max-width: 479px;
}

.register-upload-text.mt-25 {
	margin-top: 25px;
}

.register-upload-text.mb-80 {
	margin-bottom: 80px;
}

.register-upload-text > a {
	color: #0069c4;
	font-family: Benton-Medium;
}

.upload-document-grid {
	margin-top: 58px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(164px, auto));
	gap: 16px;
	width: 100%;
	justify-content: center;
	margin-bottom: 75px;
}

.upload-document-card {
	border-radius: 4px;
	background-color: #f5faff;
	border: 1px solid #c1c7cd;
	max-height: 164px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 16px;
	cursor: pointer;
}

.upload-document-card.checked {
	background-color: rgba(5, 186, 121, 0.15);
	border: 1px solid #05ba79;
}

.upload-document-card-header {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.upload-document-image {
	margin-top: 15px;
}

.upload-document-image > img {
	width: 56px;
	height: 56px;
}

.upload-document-text {
	color: #292e32;
	font-size: 12px;
	font-family: Benton-Regular;
	text-align: center;
	margin-top: 20px;
}

.register-upload-sub-header {
	color: #001324;
	text-align: center;
	font-family: Benton-Medium;
	font-size: 16px;
	margin-top: 32px;
	margin-bottom: 16px;
}

.register-upload-footer-text {
	font-size: 12px;
	font-family: Benton-Regular;
	color: #58636c;
	text-align: center;
	line-height: 18px;
	margin-top: 32px;
	max-width: 343px;
}

.register-upload-footer-text > a {
	color: #0069c4;
	font-family: Benton-Medium;
}

@media (max-width: 700px) {
	.register-header {
		padding: 48px 16px;
	}

	.register-header-nav {
		flex-direction: column;
		align-items: flex-start;
	}

	.register-header-link {
		border-right: none;
		padding: 0px;
	}

	.register {
		padding: 50px 16px 100px;
	}

	.register-stepper-item.disabled::after,
	.register-stepper-item.preferred-act-stepper::after {
		width: 30px;
	}
}

@media (max-width: 400px) {
	.register-stepper-item::after {
		width: 50px;
	}

	.register-stepper-item.disabled::after {
		width: 20px;
	}

	.register-form > .personal-info-form-grid {
		grid-template-columns: 1fr;
	}
}
/* register styling ends */

/* user dashboard styling starts */
.user-dashboard-header {
	border-bottom: 1px solid #ccc;
	width: 100%;
	display: block;
	overflow-x: hidden;
}

.ud-header-wrapper {
	display: flex;
	padding: 32px 0px;
	width: 85%;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}

.user-dashboard-logo {
	width: 44px;
	height: 46px;
}

.user-dashboard-logo > img {
	width: 100%;
	height: 100%;
}

.user-dashboard-nav-links {
	display: flex;
	align-items: center;
}

.user-dashboard-nav-links > li {
	margin-right: 32px;
}

.user-dashboard-nav-links > li:last-of-type {
	margin-right: 0px;
}

.user-dashboard-nav-links > li > a {
	color: #292e32;
	font-size: 14px;
	font-family: Benton-Regular;
}

.user-dashboard-nav-links > li.active > a {
	color: #0069c4;
	font-family: Benton-Bold;
}

.user-dashboard-actions {
	display: flex;
	align-items: center;
}

.user-dashboard-notifications {
	width: fit-content;
	padding: 0px;
	background-color: transparent;
	margin-right: 27px;
}

.user-dashboard-notifications > img {
	height: 20px;
	width: 16px;
}

.user-dashboard-profile-dropdown {
	width: fit-content;
	padding: 0px;
	background-color: transparent;
	display: flex;
	align-items: center;
}

.user-dashboard-avatar {
	width: 46px;
	height: 46px;
	border-radius: 50%;
}

.user-dashboard-dropdown-icon {
	width: 15px;
	height: 7px;
	margin-left: 12px;
}

.user-dashboard {
	position: relative;
}

.user-dashboard-wrapper {
	width: 100%;
	max-width: 1132px;
	margin: 0 auto;
	padding: 56px 0px;
}

.user-dashboard-home-heading {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.user-dashboard-name,
.user-dashboard-head {
	font-family: Benton-Bold;
	font-size: 32px;
	color: #001324;
}

.user-dashboard-name > span {
	font-family: Benton-Light;
}

.user-dashboard-id {
	font-size: 14px;
	font-family: Benton-Regular;
	color: #001324;
}

.user-dashboard-id > span {
	color: #0069c4;
	font-family: Benton-Medium;
}

.user-dashboard-last-login {
	color: #292e32;
	font-size: 14px;
	font-family: Benton-Regular;
}

.user-dashboard-accounts {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
	scrollbar-width: none;
	margin-top: 24px;
	display: flex;
}

.user-dashboard-accounts::-webkit-scrollbar {
	display: none;
}

.user-dashboard-account-card {
	width: 360px;
	min-height: 190px;
	padding: 32px;
	border-radius: 8px;
	margin-right: 16px;
	min-width: 360px;
}

.user-dashboard-account-card:last-of-type {
	margin: 0px;
}

.user-dashboard-account-card.savings {
	background-color: #0069c4;
}

.user-dashboard-account-card.current {
	background-color: #fe5f03;
}

.user-dashboard-account-card.joint {
	background-color: #559bd8;
}

.user-dashboard-account-type {
	color: #f5faff;
	font-family: Benton-Bold;
	font-size: 18px;
}

.user-dash-account-number {
	font-size: 12px;
	font-family: Benton-Regular;
	color: #f9fafa;
}

.user-dashboard-account-card-footer {
	margin-top: 29px;
	display: flex;
	align-items: center;
}

.user-dashboard-account-card-amount {
	font-size: 32px;
	font-family: Benton-Bold;
	color: #f5faff;
}

.user-dashboard-account-card-amount > span {
	font-size: 18px;
}

.user-dashboard-account-card-currency {
	font-family: Benton-Light;
}

.user-dashboard-account-card-hide-btn {
	width: 19px;
	padding: 0px;
	background-color: transparent;
	height: 16px;
	margin-left: 18px;
}

.user-dashboard-account-card-hide-btn > img {
	width: 100%;
	height: 100%;
}

.user-dashboard-content {
	display: flex;
	margin-top: 48px;
}

.ud-recent-transactions {
	flex: 1;
	margin-right: 77px;
}

.ud-rt-header {
	color: #292e32;
	font-size: 18px;
	font-family: Benton-Bold;
	margin-bottom: 54px;
}

.ud-rt-details {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 32px;
}

.ud-rt-details:last-of-type {
	margin: 0;
}

.ud-rt-details-heading {
	color: #292e32;
	font-size: 16px;
	font-family: Benton-Medium;
	margin-bottom: 4px;
}

.ud-rt-number {
	color: #292e32;
	font-size: 16px;
	font-family: Benton-Regular;
}

.ud-rt-details-footer {
	margin-top: 8px;
	display: flex;
	align-items: baseline;
}

.ud-rt-details-footer > p {
	color: #89959f;
	font-size: 14px;
	font-family: Benton-Medium;
}

.ud-rt-details-footer > a {
	color: #0069c4;
	font-size: 14px;
	font-family: Benton-Medium;
	margin-left: 24px;
}

.ud-rt-transaction-amount {
	font-size: 20px;
	font-family: Benton-Regular;
}

.ud-rt-transaction-amount.debit {
	color: #fe5f03;
}

.ud-rt-transaction-amount.credit {
	color: #05ba79;
}

.ud-quick-actions-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(168px, 1fr));
	gap: 24px;
	width: 360px;
}

.ud-qa-card {
	min-height: 158px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 32px;
	border: 1px solid #58636c;
	border-radius: 8px;
	white-space: pre-wrap;
}

.ud-qa-card > img {
	width: 36px;
	height: 36px;
	object-fit: contain;
}

.ud-qa-card > p {
	color: #292e32;
	font-size: 14px;
	font-family: Benton-Regular;
	text-align: center;
	margin-top: 16px;
	max-width: 101px;
	line-height: 16px;
}

.ud-support-chat {
	position: -webkit-sticky;
	position: sticky;
	bottom: 112px;
	height: auto;
	width: 56px;
	height: 56px;
	margin-left: auto;
	margin-right: 65px;
}

.ud-support-chat > button {
	padding: 0px;
	width: 56px;
	height: 56px;
	background-color: #0069c4;
	box-shadow: 0px 5px 12px rgba(254, 95, 3, 0.16);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.ud-transfer-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(168px, 1fr));
	gap: 24px;
	/* width: calc(100% - 339px); */
	flex: 1;
	max-width: 750px;
	height: fit-content;
}

.ud-transfer-right {
	margin-left: 44px;
	display: flex;
	flex-direction: column;
	width: 339px;
	max-width: 100%;
	/* flex-shrink: 0; */
}

.ud-transfer-right > img {
	width: 100%;
	margin-bottom: 16px;
	height: 339px;
	border-radius: 8px;
}

.ud-transfer-right > img:last-of-type {
	margin-bottom: 0px;
}

.ud-go-back {
	color: #0069c4;
	font-family: Benton-Regular;
	font-size: 16px;
	margin-bottom: 16px;
	display: flex;
	width: fit-content;
}

.ud-go-back > span {
	margin-left: 11px;
}

.ud-beneficiaries {
	flex: 1;
	max-width: 750px;
}

.ud-beneficiaries-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ud-beneficiary-sub-heading {
	color: #58636c;
	font-size: 18px;
	font-family: Benton-Medium;
}

.ud-beneficiaries-header > button {
	padding: 0px;
	background-color: transparent;
	width: fit-content;
	height: fit-content;
}

.ud-beneficiaries-cards {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
	scrollbar-width: none;
	margin-top: 16px;
	margin-bottom: 25px;
	display: flex;
	max-width: 100%;
}

.ud-beneficiaries-cards::-webkit-scrollbar {
	display: none;
}

.ud-beneficiary-card {
	min-width: 79px;
	min-height: 74px;
	border: 1px solid #58636c;
	border-radius: 4px;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-right: 16px;
	padding: 16px;
}

.ud-beneficiary-card:last-of-type {
	margin-right: 0px;
}

.ud-beneficiary-card > h4 {
	color: #58636c;
	font-size: 20px;
	text-align: center;
	font-family: Benton-Medium;
	margin-bottom: 3px;
}

.ud-beneficiary-card > p {
	text-align: center;
	max-width: 69px;
	color: #002341;
	font-family: Benton-Regular;
	font-size: 10px;
}

.ud-new-beneficiary-form {
	margin-top: 47px;
}

.ud-new-beneficiary-form > h2 {
	margin-bottom: 24px;
}

.ud-beneficiary-selected-name {
	color: #58636c;
	font-size: 14px;
	font-family: Benton-Medium;
	margin: 16px 0px 24px;
}

.ud-beneficiary-remarks {
	background-color: transparent;
	border: 2px solid #c1c7cd;
	border-radius: 8px;
	height: 80px;
	padding: 16px;
}

.ud-new-beneficiary-form-footer {
	margin-top: 48px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ud-new-beneficiary-form-footer > label,
.ud-new-beneficiary-form-footer > a {
	color: #0069c4;
	font-size: 15px;
	font-family: Benton-Medium;
	display: flex;
	align-items: center;
	margin: 0px;
}

.ud-big-checkbox {
	width: 24px !important;
	height: 24px !important;
	margin-bottom: 7px;
	margin-right: 12px;
}

.ud-beneficiaries > .register-form {
	margin-top: 0px;
}

.ud-beneficiaries > .register-form > .personal-info-form-grid {
	margin-bottom: 0px;
}

.transaction-modal {
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	z-index: 300;
	display: none;
	overflow-y: auto;
}

.transaction-modal.show {
	display: block;
}

.tm-close-btn {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	position: absolute;
	top: 32px;
	left: 0;
	z-index: 100;
}

.tm-close-btn > button {
	margin-right: 32px;
	padding: 0;
	background-color: #f5faff;
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	box-shadow: 0px 5px 12px rgb(254 95 3 / 16%);
}

.tm-close-btn > button > img {
	width: 20px;
	height: 20px;
}

.tm-content {
	min-height: 531px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	max-width: 900px;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

.tm-content::before {
	content: "";
	width: 100%;
	height: 20px;
	background-color: #fe5f03;
	border-radius: 8px 8px 0px 0px;
}

.tm-content-wrapper {
	border-radius: 0px 0px 8px 8px;
	background-color: #f5faff;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 531px;
}

.tm-transaction {
	width: 100%;
	margin: 0 auto;
	max-width: 700px;
	display: flex;
	justify-content: space-between;
	padding: 16px;
	align-items: center;
}

.tm-transaction-name {
	color: #001324;
	font-size: 14px;
	font-family: Benton-Medium;
	text-align: center;
}

.tm-balance {
	color: #58636c;
	font-size: 10px;
	font-family: Benton-Regular;
	margin-top: 6px;
	text-align: center;
}

.tm-account-number {
	font-size: 10px;
	font-family: Benton-Medium;
	color: #292e32;
	margin-top: 8px;
	border: 1px solid #000;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 16px;
	width: 164px;
	height: 25px;
}

.tm-transaction-amount-wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	align-items: center;
}

.tm-transaction-amount {
	color: #fe5f03;
	font-family: Benton-Bold;
	font-size: 32px;
	text-align: center;
	margin: 40px 0px 10px;
}

.tm-transaction-amount > span {
	font-family: Benton-Regular;
	font-size: 20px;
}

.tm-transaction-amount-wrapper::before {
	content: "";
	width: 52px;
	height: 1px;
	background-image: url("./images/line2.svg");
	background-size: cover;
	background-repeat: no-repeat;
	transform: rotate(90deg);
}

.tm-transaction-amount-wrapper > img {
	margin-bottom: 16px;
}

.tm-transaction-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 375px;
	max-width: 100%;
}

.tm-transaction-form > img {
	width: 60px;
	height: 75px;
	margin-bottom: 18px;
}

.tm-transaction-form.success > img {
	width: 148px;
	height: 148px;
}

.tm-transaction-form-header {
	color: #001324;
	font-size: 14px;
	font-family: Benton-Medium;
	text-align: center;
}

.tm-transaction-otp {
	width: 100%;
	height: 80px;
	margin: 32px auto 16px;
	border: 2px solid #c1c7cd;
	border-radius: 8px;
	color: #89959f;
	padding: 24px 16px;
	background-color: transparent;
	font-size: 18px;
	font-family: Benton-Medium;
}

.tm-transaction-request-token {
	color: #292e32;
	font-size: 14px;
	font-family: Benton-Regular;
	align-self: flex-start;
	margin-bottom: 24px;
}

.tm-transaction-request-token > a {
	color: #0069c4;
	font-family: Benton-Medium;
}

.tm-transaction-form > button.close {
	margin-top: 43px;
}

.tm-download-btn {
	padding: 0px;
	color: #0069c4;
	font-size: 17px;
	font-family: Benton-Medium;
	display: flex;
	margin-top: 27px;
	background-color: transparent;
	align-items: center;
}

.tm-download-btn > img {
	margin-right: 9px;
}

.ud-schedule {
	flex: 1;
	max-width: 750px;
}

.uds-accounts-header {
	display: flex;
	align-items: center;
}

.uds-account-btn {
	padding: 12px 16px;
	height: 36px;
	color: #292e32;
	border: 1px solid #292e32;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 16px;
	font-size: 10px;
	font-family: Benton-Regular;
	background-color: transparent;
}

.uds-account-btn.all {
	background-color: #0069c4;
	border: 0;
	color: #fff;
	font-family: Benton-Medium;
}

.uds-create-account-btn {
	padding: 0px;
	background-color: transparent;
	margin-left: auto;
	color: #0069c4;
	font-family: Benton-Medium;
	font-size: 18px;
}

.uds-search-wrapper {
	margin-top: 32px;
	margin-bottom: 40px;
	position: relative;
	border: 2px solid #c1c7cd;
	width: 100%;
	height: 55px;
	border-radius: 8px;
	padding: 0px 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.uds-search-wrapper > input {
	border: none;
	background: transparent;
	height: 100%;
	padding: 0px 32px;
	font-family: Benton-Regular;
}

.uds-search-label {
	width: 19px;
	height: 19px;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	left: 18px;
	cursor: pointer;
}

.uds-search-label > img {
	width: 100%;
	height: 100%;
}

.uds-filter-btn {
	width: 20px;
	height: 20px;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	right: 18px;
	background-color: transparent;
	padding: 0px;
}

.uds-filter-btn > img {
	width: 100%;
	height: 100%;
}

.uds-transfer-details {
	display: flex;
	justify-content: space-between;
}

.uds-transfer-details-header {
	color: #292e32;
	font-size: 16px;
	font-family: Benton-Medium;
}

.uds-td-text {
	margin: 4px 0px 8px;
	color: #292e32;
	font-size: 14px;
	font-family: Benton-Regular;
}

.uds-td-date {
	color: #89959f;
	font-size: 14px;
	font-family: Benton-Regular;
}

.uds-td-amount {
	color: #fe5f03;
	font-size: 20px;
	font-family: Benton-REgular;
}

.ns-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ns-header-text {
	color: #58636c;
	font-size: 18px;
	font-family: Benton-Medium;
}

.ns-header-count {
	color: #fe5f03;
	font-size: 18px;
	font-family: Benton-Medium;
}

.ns-form {
	margin-top: 24px;
	max-width: 100%;
}

.ns-form select {
	border: 0;
}

.ns-input {
	color: #001324;
	font-size: 18px;
	font-family: Benton-Medium;
	border: 2px solid #c1c7cd;
	border-radius: 8px;
	background-color: transparent;
	padding: 16px;
	height: 80px;
	margin-bottom: 24px;
}

.ns-form-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 48px;
}

.ns-form-footer > button {
	width: 332px;
}

.ns-form-footer > a {
	color: #0069c4;
	font-size: 18px;
	font-family: Benton-Medium;
}

@media (max-width: 1280px) {
	.user-dashboard-wrapper {
		padding-left: 16px;
		padding-right: 16px;
	}
}

@media (max-width: 903px) {
	.user-dashboard-content {
		flex-direction: column;
	}

	.user-dashboard-home-heading {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.ud-quick-actions {
		margin-top: 32px;
	}

	.ud-quick-actions-grid,
	.ud-transfer-grid {
		width: 100%;
		/* justify-content: center; */
	}

	.ud-transfer-right {
		margin-left: 0px;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.ud-transfer-right > img {
		margin-bottom: 0px;
		margin-right: 16px;
		margin-top: 32px;
	}

	.ud-transfer-right > img:last-of-type {
		margin-right: 0px;
	}
}

@media (max-width: 700px) {
	.tm-transaction {
		flex-direction: column;
		overflow-y: auto;
		padding: 50px 16px;
	}

	.tm-account-number {
		margin-left: auto;
		margin-right: auto;
	}

	.tm-transaction-form {
		width: 100%;
		margin-top: 48px;
	}

	.uds-accounts-header {
		flex-direction: column;
		align-items: flex-start;
	}

	.uds-account-btn {
		margin-bottom: 16px;
	}

	.uds-create-account-btn {
		margin-left: 0px;
		margin-top: 16px;
	}

	.uds-transfer-details {
		flex-direction: column;
	}

	.uds-td-amount {
		margin-top: 16px;
	}
}

@media (max-width: 400px) {
	.ud-rt-details {
		flex-direction: column-reverse;
	}

	.ud-rt-transaction-amount {
		margin-bottom: 16px;
	}

	.ud-rt-details-footer {
		flex-direction: column;
		align-items: flex-start;
	}

	.ud-rt-details-footer > a {
		margin-left: 0;
		margin-top: 16px;
	}

	.ud-support-chat {
		margin-right: 16px;
	}

	.ud-new-beneficiary-form-footer {
		flex-direction: column;
		align-items: flex-start;
	}

	.ud-new-beneficiary-form-footer > button {
		width: 100%;
	}

	.ud-new-beneficiary-form-footer > label,
	.ud-new-beneficiary-form-footer > a {
		margin-top: 16px;
	}

	.ns-form-footer {
		flex-direction: column;
	}

	.ns-form-footer > a {
		width: fit-content;
		display: block;
		margin-top: 18px;
	}
}
/* user dashboard styling ends */

/* media queries */
/* 1366px, 1280px, 903px, 700px, 400px */
