*,
::before,
::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@font-face {
	font-family: Benton-Light;
	src: url("./fonts/BentonSans-Light.ttf");
}

@font-face {
	font-family: Benton-Regular;
	src: url("./fonts/BentonSans-Regular.ttf");
}

@font-face {
	font-family: Benton-Medium;
	src: url("./fonts/BentonSans-Medium.ttf");
}

@font-face {
	font-family: Benton-Bold;
	src: url("./fonts/BentonSans-Bold.ttf");
}

html {
	-webkit-text-size-adjust: var(--full);
	scroll-behavior: smooth;
	font-family: Averta;
	height: 100%;
	background-color: #e5e5e5;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	width: 100%;
	height: 100%;
	/* color: #292e32; */
	max-width: 1440px;
	min-width: 200px;
	margin: 0px auto;
}

ul,
li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

button {
	outline: none;
	font: inherit;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	border: 0;
	padding: 0px;
}

button:disabled {
	color: #fff;
	background: #e4e6eb;
	cursor: not-allowed;
}

.button-xl {
	width: 100%;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
}

.button-large {
	width: 375px;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	max-width: 100%;
}

.button-medium {
	width: 322px;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	max-width: 100%;
}

.button-small {
	width: 196px;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
}

.button-round {
	border-radius: 20px;
	width: 100px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-primary {
	background-color: #0069c4;
	color: #fff;
	font-family: Benton-Medium;
}

.button-secondary {
	background-color: #f5faff;
	color: #0069c4;
	font-family: Benton-Medium;
}

.button-transparent {
	background-color: #fff;
	border: 1px solid #292e32;
	color: #292e32;
	font-family: Benton-Regular;
}

a {
	outline: none;
	font-family: inherit;
	white-space: nowrap;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.3;
	margin: 0;
}

p {
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
}

img {
	object-fit: cover;
}

label {
	display: block;
	margin-bottom: 7px;
}

input,
select,
textarea {
	-webkit-appearance: none;
	appearance: none;
	font-size: 1rem;
	outline: none;
	color: inherit;
	width: 100%;
	font-family: Benton-Regular;
	border-radius: 8px;
}

input[type="checkbox"] {
	-webkit-appearance: checkbox;
	appearance: checkbox;
	width: initial !important;
	height: initial !important;
	margin-bottom: 0 !important;
	padding: 0 !important;
}

input[type="radio"] {
	-webkit-appearance: radio;
	appearance: radio;
}

textarea {
	padding: 16px 20px;
	resize: none;
	height: 185px;
	border: 1px solid #e4e6eb;
	border-radius: 6px;
}

textarea:focus,
input:focus,
select:focus {
	border: 1px solid #0069c4;
}

select {
	cursor: pointer;
	background-color: transparent;
}

.select-wrapper {
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
}

.select-wrapper > select {
	border-radius: 0px;
}

.select-wrapper.language {
	border: 2px solid #f9fafa;
	border-radius: 4px;
	max-width: 115px;
}

.select-wrapper.language > select {
	font-family: Benton-Medium;
	height: 48px;
	color: #fff;
	padding-left: 12px;
}

.select-wrapper::after {
	content: "";
	height: 8px;
	width: 10px;
	background: url("./images/chevron_down_big.svg") no-repeat center;
	background-size: cover;
	display: block;
	position: absolute;
	right: 7px;
	pointer-events: none;
	flex-shrink: 0;
	top: 50%;
	transform: translateY(-50%);
}

.select-wrapper.language::after {
	right: 12px;
	height: 7px;
	width: 15px;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.wrapper.full {
	width: 100%;
}

main,
header,
footer {
	width: 100%;
	background: #f5faff;
}

.hide-vertical-scrollbar {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.hide-vertical-scrollbar::-webkit-scrollbar {
	display: none;
}

/* login styling begins */
.login {
	height: 100vh;
	display: flex;
}

.login-left {
	flex: 1;
	height: 100vh;
	padding: 48px 64px 125px;
	display: flex;
	flex-direction: column;
}

.login-two .login-left {
	background-image: url("./images/login_background.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.login-logo-container {
	margin-bottom: 35px;
}

.login-logo-container > img,
.register-logo > img {
	width: 86px;
	height: 91px;
}

.login-left-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
}

.login-two .login-left-wrapper {
	flex-direction: column;
}

.login-left-desc {
	margin-right: 24px;
	flex: 1;
}

.login-two .login-left-desc {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
}

.login-left-desc > h1 {
	font-size: 48px;
	font-family: Benton-Bold;
	line-height: 57.6px;
	width: 450px;
	max-width: 100%;
	color: #001324;
}

.login-left-desc > h1 > span {
	color: #0069c4;
}

.login-two .login-left-desc > h1 {
	color: #fff;
	width: 690px;
	max-width: 100%;
	text-align: center;
}

.login-left-download {
	display: flex;
	margin-top: 125px;
}

.download-app-btn {
	width: 169px;
	height: 57px;
	background-color: transparent;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
}

.download-app-btn:first-of-type {
	margin-right: 20px;
}

.login-two .login-left-download {
	margin-top: 32px;
}

.download-app-btn > img {
	width: 100%;
	height: 100%;
}

.login-left-image {
	width: 313px;
	height: 519px;
}

.login-left-image > img {
	width: 100%;
	height: 100%;
}

.login-right {
	background-color: #0069c4;
	width: 548px;
	height: 100vh;
	padding: 48px 64px 125px;
	display: flex;
	flex-direction: column;
}

.login-two .login-right {
	background-color: #f5faff;
}

.login-two .select-wrapper.language {
	border: 1px solid #c1c7cd;
	border-radius: 4px;
	max-width: 115px;
}

.login-two .select-wrapper.language::after {
	background: url("./images/chevron_down_blue.svg") no-repeat center;
	background-size: cover;
}

.login-two .select-wrapper.language > select {
	font-family: Benton-Medium;
	height: 48px;
	color: #0069c4;
	padding-left: 12px;
	border: none;
}

.login-right > .login-logo-container {
	display: flex;
	justify-content: flex-end;
}

.login-right-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
}

.login-right-form > h2 {
	text-align: center;
	font-family: Benton-Medium;
	color: #fff;
	font-size: 32px;
	margin-bottom: 60px;
}

.login-two .login-right-form > h2 {
	color: #001324;
}

.login-input-wrapper {
	border: 2px solid #c1c7cd;
	width: 100%;
	height: 80px;
	border-radius: 8px;
	padding: 14px 16px;
	position: relative;
}

.login-password-wrapper::after {
	content: "";
	height: 16px;
	width: 19px;
	background: url("./images/password_eye.svg") no-repeat center;
	background-size: cover;
	display: block;
	position: absolute;
	right: 16px;
	flex-shrink: 0;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.login-two .login-password-wrapper::after {
	background: url("./images/password_eye_black.svg") no-repeat center;
	background-size: cover;
}

.login-password-wrapper:last-of-type {
	margin-top: 25px;
}

.login-input-wrapper > label {
	font-family: Benton-Regular;
	color: #fff;
	margin-bottom: 10px;
	font-size: 14px;
}

.login-input-wrapper > input {
	border-radius: 0px;
	background-color: transparent;
	border: none;
	font-size: 18px;
	color: #fff;
}

.login-two .login-input-wrapper > label,
.login-two .login-input-wrapper > input {
	color: #292e32;
}

.login-input-wrapper > input:focus {
	border: none;
}

.login-forgot-password {
	color: #fff;
	margin-top: 16px;
	align-self: flex-start;
	font-family: Benton-Regular;
	font-size: 14px;
}

.login-forgot-password > a {
	color: #fff;
	font-family: Benton-Medium;
}

.login-two .login-forgot-password {
	color: #001324;
}

.login-two .login-forgot-password > a {
	color: #0069c4;
}

.login-right-form > .button-large {
	width: 100%;
	margin-top: 48px;
	font-family: Benton-Medium;
	font-size: 18px;
}

.login-two .login-right-form > .button-secondary {
	background-color: #0069c4;
	color: #fff;
}

.login-register-text {
	color: #fff;
	margin-top: 32px;
	font-family: Benton-Regular;
	font-size: 14px;
	margin-bottom: 16px;
}

.login-register-text > a {
	color: #fff;
	font-family: Benton-Medium;
}

.login-two .login-register-text {
	color: #001324;
}

.login-two .login-register-text > a {
	color: #0069c4;
}

.login-right-footer {
	margin-top: auto;
	display: flex;
	justify-content: center;
}

.login-right-footer > p {
	border-right: 2px solid #fff;
	padding: 0px 22px;
}

.login-right-footer > p:last-of-type,
.login-two .login-right-footer > p:last-of-type {
	border: 0px;
	padding-right: 0px;
}

.login-right-footer > p > a {
	color: #fff;
	font-size: 14px;
	font-family: Benton-Regular;
}

.login-two .login-right-footer > p {
	border-right: 2px solid #001324;
}

.login-two .login-right-footer > p > a {
	color: #001324;
}

/* media queries */
@media (max-width: 1366px) {
	.login-left,
	.login-right {
		padding: 20px;
	}
}

@media (max-width: 1170px) {
	.login {
		flex-direction: column;
		align-items: center;
	}

	.login-left {
		height: auto;
		width: 100%;
		display: none;
	}

	.login-right {
		width: 100%;
		padding: 48px 20px;
	}

	.login-right-form {
		max-width: 700px;
		width: 100%;
		margin: auto;
		/* justify-content: flex-start; */
	}
}

@media (max-width: 700px) {
	.login-right-footer {
		display: block;
		margin-top: 20px;
	}

	.login-right-footer > p,
	.login-two .login-right-footer > p {
		border: none;
		padding: 0px;
		text-align: center;
		margin-bottom: 10px;
	}

	.login-right-footer > p:last-of-type,
	.login-two .login-right-footer > p:last-of-type {
		margin-bottom: 0px;
	}

	.login-right-form {
		margin-top: 60px;
	}
}
/* login styling ends */

/* register styling begins */
.register-header {
	display: flex;
	justify-content: space-between;
	padding: 48px 64px;
	align-items: center;
}

.register-header-nav {
	display: flex;
}

.register-header-link {
	border-right: 1px solid #001324;
	padding: 0px 19px;
}

.register-header-link:last-of-type {
	border: none;
	padding-right: 0px;
}

.register-header-link > a {
	color: #001324;
	font-family: Benton-Regular;
	font-size: 14px;
}

.register {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 64px 200px;
}

.register-heading-text {
	font-size: 32px;
	color: #001324;
	font-family: Benton-Medium;
	text-align: center;
}

.register-stepper {
	margin-top: 32px;
	display: flex;
}

.register-stepper-item {
	position: relative;
	display: flex;
	align-items: center;
}

.register-stepper-item.active > span {
	background-color: #0069c4;
	color: #fff;
	border: none;
}

.register-stepper-item > span {
	position: relative;
	z-index: 2;
	color: #001324;
	font-family: Benton-Medium;
	text-align: center;
	font-size: 17px;
	background-color: transparent;
	border: 1px solid #c1c7cd;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.register-stepper-item::after {
	content: "";
	width: 100px;
	height: 1px;
	background-color: #c1c7cd;
	flex-shrink: 0;
}

.register-stepper-item:last-of-type::after {
	display: none;
}

.register-form {
	margin-top: 64px;
	width: 100%;
	max-width: 478px;
}

.register-form > .login-input-wrapper > label,
.register-form > .login-input-wrapper > input {
	color: #292e32;
}

.register-form > .login-input-wrapper:last-of-type {
	margin-top: 25px;
}

.register-form > button {
	margin-top: 48px;
}

.register-extra-info {
	margin-top: 16px;
	font-size: 14px;
	font-family: Benton-Regular;
	line-height: 21px;
	text-align: center;
	color: #58636c;
}

.register-extra-info > a {
	color: #0069c4;
}

@media (max-width: 700px) {
	.register-header {
		padding: 48px 16px;
	}

	.register-header-nav {
		flex-direction: column;
		align-items: flex-start;
	}

	.register-header-link {
		border-right: none;
		padding: 0px;
	}

	.register {
		padding: 50px 16px;
	}
}

@media (max-width: 400px) {
	.register-stepper-item::after {
		width: 50px;
	}
}
/* register styling ends */

/* media queries */
/* 1366px, 1280px, 903px, 700px, 400px */
